@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu>
            <HeaderTemplate>
                Web Blazor Client
            </HeaderTemplate>
        </NavMenu>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>